sudo: required
services:
  - docker
before_install:
  - docker build -t karthiksamaganam/react-multi-docker-test -f ./client/Dockerfile.dev .  
script:
  - docker run  karthiksamaganam/react-multi-docker-test npm test -- --coverage
after_success:
  - docker build -t karthiksamaganam/multi-client ./client 
  - docker build -t karthiksamaganam/multi-nginx ./nginx 
  - docker build -t karthiksamaganam/multi-server ./server 
  - docker build -t karthiksamaganam/multi-worker ./worker 
  # login into docker 
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
  # push the images to docker hub

  - docker push karthiksamaganam/multi-client
  - docker push karthiksamaganam/multi-nginx
  - docker push karthiksamaganam/multi-server
  - docker push karthiksamaganam/multi-worker

  
  


